body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  /* border: green 20px dotted; */
}

.header {
  font-size: 32px;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: center;
  /* border: yellow 20px dotted; */
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  display: flex;
  height: 72px;
  background: #eeee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  align-self: stretch;
  margin-right: auto;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 32px;
  /* border: 20px blue dotted; */
  inline-size: 550px;
  overflow-wrap: break-word;
}

.content {
  display: flex;
  flex-direction: row;
  /* border: 20px red dotted; */
  flex: 1 1 auto;
}

.words {
  /* border: 20px black dotted; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 20px;
  gap: 15px;
}

a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}